@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navBar {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.links {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  grid-gap: 40px;
  gap: 40px;
}

.link a {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.icon {
  width: 20px;
}
